ion-toolbar {
    --color: #ffffff;
    --background: #0d2c6c;
    border-bottom: 4px solid  rgb(240, 226, 31);
}

.titulo{
    text-align: left;    
}

.icono{
    background: #0d2c6c;
    color:  #ffffff;
    font-size: 9em;
    margin-left: 30%;
    border-radius: 50%;
}