ion-toolbar {
    --color: #ffffff;
    --background: #0d2c6c;
    border-bottom: 4px solid  rgb(240, 226, 31);
}

.icono{
    color:  #0d2c6c;
    font-size: 6em;
    margin-left:40%;   
}

.titulo{
    text-align: left}

.texto{
    font-size: 0.9em;
    margin-left: 1em;
    color:  #0d2c6c;    
}


.texto1{
    font-size: 1em;
    color:  #0d2c6c;    
}